<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <h4>{{title}}</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">

        <nav>
          <ul>
            <li><a routerLink="/product-list" routerLinkActive="active">Product-list</a></li>
            <li><a routerLink="/price-calculator" routerLinkActive="active">Price-calculator</a></li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>